.content-container {
  margin: 20px $content-left-margin 0 $content-right-margin;
  position: absolute;
  z-index: 10;
}

.esh-logo {
  height: 67.7px;
  object-fit: contain;
  width: 299.4px;
}

.header {
  // font-family: $museo-slab;
  font-size: 50px;
  font-weight: bold;
  height: 100px;
  line-height: 1;
  letter-spacing: -0.6px;
  margin-top: 68.3px;
  opacity: 0.9;
  text-align: left;
  width: 823.8px;
}

.sub-header {
  font-family: $lato;
  font-size: 26px;
  height: 32px;
  line-height: 1.23;
  margin-top: 20.5px;
  opacity: 0.9;
  text-align: left;
}

.column-container {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
  .header {
    // multiply mobile by 1.33
    // in between desktop and mobile
    font-size: 40px;
    // mobile
    // font-size: 30px;
    // height: 102px;
    height: 136px;
    line-height: 1.08;
    margin-top: 18.2px;
    width: 80%;
  }
}
@media only screen and (max-width: 414px) {
  .content-container {
    margin: 20px auto 0 12%;
    width: $content-width-mobile;
  }
  .esh-logo {
    height: 40.8px;
    object-fit: contain;
    width: 180.7px;
  }
  .header {
    font-size: 30px;
    height: 102px;
    line-height: 1.13;
    margin-top: 18.2px;
    width: $content-width-mobile;
  }
  .sub-header {
    font-size: 18px;
    height: 40px;
    line-height: 1.11;
    margin-top: 6.8px;
    width: $content-width-mobile;
  }
  .column-container {
    display: column;
    position: relative;
    z-index: 12;
  }
}
