.content-container {
  position: relative;
  z-index: 10;
  margin: auto;
  width: 953px;
  max-width: 100%;
  padding: 30px;
}

.esh-logo {
  height: 67.7px;
  object-fit: contain;
  width: 299.4px;
}

.header {
  margin: 68.3px auto 0;
  font-size: 50px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -0.6px;
  opacity: 0.9;
  text-align: left;
}

.sub-header {
  margin: auto;
  font-family: $lato;
  font-size: 26px;
  line-height: 1.23;
  margin-top: 20.5px;
  opacity: 0.9;
  text-align: left;
}

.column-container {
  flex-direction: column;
  max-width: 100%;
  width: 953px;
  margin: auto;
}

@media only screen and (max-width: 1024px) {
  .content-container {
    margin: 20px 0 0;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    font-size: 40px;
    line-height: 1.06;
    width: 90%;
  }
  .sub-header {
    font-size: 22px;
    line-height: 1.16;
    margin-top: 6.8px;
    width: 90%;
  }
}

@media only screen and (max-width: $mobile) {
  .content-container {
    margin: 20px auto 0;
  }
  .esh-logo {
    height: 40.8px;
    object-fit: contain;
    width: 180.7px;
  }
  .header {
    font-size: 30px;
    line-height: 1.13;
    margin-top: 18.2px;
    width: $content-width-mobile;
  }
  .sub-header {
    font-size: 18px;
    line-height: 1.11;
    margin-top: 6.8px;
    width: $content-width-mobile;
  }
  .column-container {
    display: column;
    position: relative;
    z-index: 12;
  }
}
