.footer-container {
  background-color: $white;
  height: 383px;
  width: $background-width-desktop;
}

.footer-text {
  height: 40px;
  width: 381px;
  margin: 0 auto 37px auto;
  // font-family: MuseoSlab;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.11;
  letter-spacing: -0.5px;
  padding-top: 60px;
  text-align: center;
  color: $teal;
}

.footer-images-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: $background-width-desktop;
}

.footer-logo {
  object-fit: contain;
}

.edu-week {
  margin: 0 7.2% 0 $content-left-margin;
  width: 17%;
}

.usa-today {
  margin-right: 8%;
  opacity: 0.5;
  width: 16%;
}

.nyt {
  width: 16.7%;
}

.ed-surge {
  height: 116.6px;
  padding-left: 32.3%;
  width: 14.4%;
}

.tech-learning {
  height: 46.9px;
  opacity: 0.8;
  padding-left: 10.3%;
  width: 9.8%;
}

@media only screen and (max-width: 414px) {
    .footer-container {
      margin-top: 300px;
      width: $background-width-mobile;
    }
    .footer-text {
      height: 48px;
      font-size: 24px;
      font-weight: 300;
      letter-spacing: -0.3px;
      line-height: 2;
      padding-top: 20px;
      width: 262.1px;
    }
    .footer-images-container {
      margin-left: 16%;
      width: 80%;
    }
    .edu-week {
      height: 17px;
      margin: 0;
      width: 130.6px;
    }

    .usa-today {
      height: 23.9px;
      margin-right: 0;
      padding-left: 32.4px;
      width: 116.7px;
    }

    .nyt {
      height: 20.1px;
      margin-top: 38.5px;
      width: 129.6px;
    }

    .ed-surge {
      height: 55.6px;
      margin-top: 35.6px;
      padding-left: 48.6px;
      width: 90.3px;
    }

    .tech-learning {
      height: 26.8px;
      margin-top: 33.4px;
      padding-left: 22px;
      width: 74px;
    }
}
