.illustration-container {
  margin: 370px auto 0;
  position: absolute;
  top: 0;
  z-index: 12;
  width: 100%;
  pointer-events: none;
}

.illustration-one {
  max-width: 100%;
  opacity: 1.8;
  width: 935px;
  margin: auto;
  display: block;
}

.illustration-two {
  height: 475px;
  left: 50%;
  transform: translateX(-81.5%);
  object-fit: contain;
  position: absolute;
  top: 1280px;
  width: 323px;
  z-index: 13;
}

// svg stuff

.st0{opacity:0.8;}
.st1{fill:none;stroke:#000000;stroke-width:2;}
.st2{opacity:0.8;fill:none;stroke:#231F20;stroke-width:2;enable-background:new    ;}
path.circle {
  stroke: #231F20;
}



.st3{opacity:0.6;}
.st4{fill:none;stroke:#000000;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;}
.st5{fill:none;stroke:#000000;stroke-width:1.5;stroke-linecap:round;}
.st6{fill:none;stroke:#000000;stroke-width:1.5;stroke-linejoin:round;}
.st7{fill:none;stroke:#000000;stroke-width:1.5;}
.st8{fill:none;stroke:#231F20;stroke-width:2;}

.st9{fill:none;stroke:#4F4C4D;stroke-width:2;}
.st9.white-fill {fill: white;}


.illustration-one path.circledraw {
  transform-origin: center;
  transform: scale(0);
  animation: scale-in 0.5s ease forwards; 
  animation-delay: 1s;
  &:nth-child(2n+1) {
    animation-delay: 1.2s;
  }
  &:nth-child(3n+1) {
    animation-delay: 1.4s;
  }
  &:nth-child(4n+1) {
    animation-delay: 1.3s;
  }
  &:nth-child(5n+1) {
    animation-delay: 1.6s;
  }
  &:nth-child(6n+1) {
    animation-delay: 1.4s;
  }
}

[data-aos="illustration-two"] {
  path.circledraw {
    transform-origin: center;
    transform: scale(0);
  }
  &.aos-animate {
    path.circledraw {
      animation: scale-in 0.5s ease forwards; 
      animation-delay: 1s;
      &:nth-child(2n+1) {
        animation-delay: 1.2s;
      }
      &:nth-child(3n+1) {
        animation-delay: 1.4s;
      }
      &:nth-child(4n+1) {
        animation-delay: 1.3s;
      }
      &:nth-child(5n+1) {
        animation-delay: 1.6s;
      }
      &:nth-child(6n+1) {
        animation-delay: 1.4s;
      }
    }
  }
}

g.orb {
  .circle {
    transform-origin: center;
    transform: scale(0);
    animation: scale-in 0.5s ease forwards; 
    animation-delay: 1s;
  }
  .icon {
    transform-origin: center;
    opacity: 0;
    animation: fade-up-in 1s ease forwards; 
    animation-delay: 1s;
  }
  &.writing {
    .circle, .icon {
      animation-delay: 1.3s;
    }
  }
  &.grad {
    .circle, .icon {
      animation-delay: 1.4s;
    }
  }
  &.sci {
    .circle, .icon {
      animation-delay: 1.5s;
    }
  }
  &.govt {
    .circle, .icon {
      animation-delay: 1.6s;
    }
  }
  &.math {
    .circle, .icon {
      animation-delay: 1.7s;
    }
  }
  &.book {
    .circle, .icon {
      animation-delay: 1.8s;
    }
  }
  &.girl {
    .circle, .icon {
      animation-delay: 1.9s;
    }
  }
  &.tele {
    .circle, .icon {
      animation-delay: 1.4s;
    }
  }
}


@media only screen and (max-width: 1024px) {
  .illustration-container {
    margin-top: 180px;
  }
  .illustration-one {
      width: 768px;
  }
  .illustration-two {
      top: 1420px;
  }
  svg .long-line {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .illustration-container {
    margin: 30px 0 0;
  }
  .illustration-one {
    width: 935px * .73;
  }
  .illustration-two {
    left: auto;
    right: 0;
    top: 900px;
    width: 323px * .63;
  }
}

@media only screen and (max-width: $mobile) {
  .illustration-container {
    margin: 0;
    width: $background-width-mobile;
    z-index: 12;
  }
  .illustration-one {
    object-fit: cover;
    margin-top: -320px;
    position: absolute;
    width: $background-width-mobile;
    z-index: 13;
  }
  .illustration-two {
    left: 0px;
    margin-top: 0px;
    transform: rotate(-90deg);
    top: 1300px;
    width: 100%;
    height: 96vw;
    z-index: 13;
  }
}

@media only screen and (max-width: 414px) {
  .illustration-two {
    position: relative;
    top: 0;
  }
}

@keyframes scale-in {
  0% {
    transform: scale(0);  
  }
  100% {
    transform: scale(1);  
  }
}
@keyframes fade-up-in {
  0% {
    opacity: 0;
    transform: translateY(10px);  
  }
  100% {
    opacity: 1;
    transform: translateY(0px);  
  }
}