.illustration-container {
  margin: 250px 0 0 240px;
  position: absolute;
  z-index: 12;
}

.illustration-one {
  height: 2194px;
  mix-blend-mode: multiply;
  object-fit: contain;
  opacity: 0.8;
  width: 935px;
}

.illustration-two {
  height: 475px;
  left: 204px;
  object-fit: contain;
  position: absolute;
  top: 1539.1px;
  width: 323px;
  z-index: 13;
}

@media only screen and (max-width: 414px) {
  .illustration-container {
    margin: 0;
    width: $background-width-mobile;
    z-index: 12;
  }

  .illustration-one {
    display: none;
    object-fit: cover;
    position: absolute;
    width: $background-width-mobile;
    z-index: 13;
  }
  .illustration-two {
    display: none;
    left: 0;
    margin-top: -200px;
    object-fit: cover;
    position: absolute;
    transform: rotate(-90deg);
    width: $background-width-mobile;
    z-index: 13;
  }
}
