.illustration-container {
  margin-top: -100px;
  position: absolute;
  z-index: 12;
}

.illustration-one {
  width: 935px;
  height: 2194px;
  object-fit: contain;
  opacity: 0.8;
  mix-blend-mode: multiply;
}

.illustration-two {
  height: 475px;
  left: 204px;
  object-fit: contain;
  position: absolute;
  top: 1539.1px;
  width: 323px;
  z-index: 13;
}

@media only screen and (max-width: 414px) {
  .illustration-container {
    position: relative;
    width: 100%;
    z-index: 12;
  }

  .illustration-one {
    object-fit: cover;
    left: -60px;
    position: absolute;
    width: 414px;
    z-index: 13;
  }
  .illustration-two {
    margin-top: -200px;
    object-fit: cover;
    left: -60px;
    position: absolute;
    transform: rotate(-90deg);
    width: 414px;
    z-index: 13;
  }
}
