.left-content-one {
  margin-top: 800.3px;
}

.left-content-two {
  margin-top: 236px;
}

.left-info-one {
  width: 400.7px;
}

.left-info-two {
  width: 410px;
}

.left-info-three {
  width: 420px;
}

.left-info-four {
  margin: 33px 0 38px 0;
}

.discover-button {
  background: $primary-orange;
  border-radius: 7px;
  display: block;
  text-align: center;
  margin-top: 42px;
  width: 224.7px;
  padding: 0 20px;
  color: white;
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
  line-height: 2;
  transition: 0.25s ease;
  text-decoration: none;
  cursor: pointer; 
  &:hover {
    background: #f09221;
  }
}

.discover-text {
  color: $dark-gray;
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
  width: 175.5px;
}

.link-text {
  color: $black;
  height: 19px;
  font-family: $lato;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-top: 38px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .left-content-one {
    margin-top: 560px;
  }
  .left-content-two {
    margin-top: 30px;
  }
  .left-info-one {
    width: 40.4%;
  }
  .left-info-two {
    margin-top: 24px;
    width: 40.4%;
  }
  .discover-button {
    margin-top: 33.8px;
  }
  .left-info-three {
    width: 41%;
  }
  .left-info-four {
    margin: 31px 0;
    width: 47%;
  }
  .link-text {
    font-size: 14px;
    height: 15px;
    width: 32.8%;
  }
}


@media only screen and (max-width: $mobile) {
  .left-content-one {
    margin-top: 500px;
  }
  .left-content-two {
    margin-top: 66vw;
  }
  .left-info-one {
    margin-top: 0;
    width: $content-width-mobile;
  }
  .left-info-two {
    width: $content-width-mobile;
  }
  .discover-button {
    margin-top: 33.8px;
    width: $content-width-mobile;
  }
  .left-info-three {
    width: 260px;
  }
  .left-info-four {
    margin: 31px 0;
    width: $content-width-mobile;
  }
  .link-text {
    font-size: 12px;
    font-weight: bold;
    width: $content-width-mobile;
  }
}
