.left-column {
  width: 410px;
}

.left-content-one {
  margin-top: 800.3px;
}

.left-content-two {
  margin-top: 720.7px;
}

.left-info-one {
  height: 392px;
  width: 400.7px;
}

.left-info-two {
  height: 120px;
  width: 410px;
}

.left-info-three {
  height: 200px;
  width: 420px;
}

.left-info-four {
  height: 160px;
  margin: 33px 0 38px 0;
}

.discover-button {
  border: solid 2px $primary-orange;
  border-radius: 7px;
  display: flex;
  height: 55.5px;
  justify-content: center;
  margin-top: 42px;
  width: 224.7px;
}

.discover-text {
  color: $dark-gray;
  height: 24px;
  font-family: Lato;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-top: 16px;
  text-align: center;
  width: 175.5px;
}

.link-text {
  color: $black;
  height: 19px;
  font-family: $lato;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-top: 38px;
  text-align: center;
}

@media only screen and (max-width: 414px) {
  .left-column {
    order: 1;
    position: absolute;
    width: $content-width-mobile;
  }
  .left-info-one {
    font-size: 14px;
    font-weight: 300;
    height: 296px;
    line-height: 1.71;
    width: $content-width-mobile;
  }
  .left-info-two {
    height: 90px;
    width: $content-width-mobile;
  }
  .discover-button {
    margin-top: 33.8px;
    width: 280px;
  }
  .left-info-three {
    height: 180px;
    margin-top: 1060px;
    width: 260px;
  }
  .left-info-four {
    height: 96px;
    margin: 31px 0;
    width: $content-width-mobile;
  }
  .link-text {
    font-size: 12px;
    font-weight: bold;
    height: 15px;
    width: $content-width-mobile;
  }
}
