* {
  box-sizing: border-box;
}

.background-container {
  background-color: $primary-orange;
  background-image: linear-gradient(323deg, #fdb913, #fdb913 40.4%, #f09221);
  width: $background-width-desktop;
  max-width: 100%;
  overflow: hidden;
}

.main-background {
  position: relative;
  z-index: 1;
}

.white-background {
  background-color: $white;
  height: 1219px; 
  margin-top: 1118px;
  position: absolute;
  width: $background-width-desktop;
  z-index: 8;
  max-width: 100%; 

  transform: skewY(30deg);
}

.background-image-container {
  bottom: 0;
  position: absolute;
}

.image-gradient {
  box-shadow: inset 0px -120px 150px $primary-orange, inset 0px 120px 150px $primary-orange;
  height: 100%;
  object-fit: contain;
  position: absolute;
  width: $background-width-desktop;
  z-index: 3;
}

.background-image {
  background: $primary-orange;
  object-fit: contain;
  position: relative;
  width: $background-width-desktop;
  z-index: 2;
}

@media only screen and (max-width: 1024px) {
  .background-container {
    width: 1024px;
  }
  .white-background {
    width: 1024px;
  }
}
@media only screen and (max-width: 768px) {
  .background-container {
    width: $background-width-desktop;
  }
  .main-background {
  }
  .white-background {
    height: 974px;
    margin-top: 872px;
    width: $background-width-desktop;
  }
}

@media only screen and (max-width: $mobile) {
  .background-container {
    width: $background-width-mobile;
  }
  .main-background {
    width: $background-width-mobile;
  }
  .white-background {
    height: 1465px;
    margin-top: 600px;
    width: $background-width-mobile;
  }
  .background-image-container {
    bottom: -200px;
  }
  .image-gradient {
    height: 275.6px;
    box-shadow: inset 0px -50px 50px $primary-orange, inset 0px 50px 50px $primary-orange;
    width: $background-width-mobile;
  }
  .background-image {
    width: $background-width-mobile;
  }
}
