.right-content-one {
  margin-top: -20px;
  margin-left: 60%;
  width: 40%;
}

.right-content-two {
  margin-left: 50%;
  margin-top: 74px;
}

.right-info-one {
  height: 37px;
}

.right-info-two {
  margin-top: 16px;
}

.right-info-three {
  margin-top: 35.5px;
}

.orange-text {
  color: $dark-orange;
  font-family: $lato;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: -0.2px;
  text-align: left;
  height: 40px;
  overflow: hidden;
  span {
    display: block;
  }
}

.textflipper {
  span {
    position: absolute;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s ease;
  }
  &.text_1 {
    span:nth-child(1){
      opacity: 1;
      transform: translateY(0px);
    }
  }
  &.text_2 {
    span:nth-child(2){
      opacity: 1;
      transform: translateY(0px);
    }
  }
  &.text_3 {
    span:nth-child(3){
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

.orange-underline {
  border-image-source: linear-gradient(to right, $primary-orange, $dark-orange);
  border-image-slice: 1;
  border-style: solid;
  border-width: 0;
  border-top-width: 1px;
}

.italic-info {
  color: $black;
  // museo slab 300 is an italic font
  // font-family: MuseoSlab-300;
  font-size: 24px;
  font-style: italic;
  height: 180px;
  line-height: 1.5;
  opacity: 0.9;
  text-align: left;
  width: 424.9px;
}

.black-line {
  margin: 23px 0 41px;
  width: 457px;
  height: 0;
  opacity: 0.45;
  border: solid 1px #000000;
}

.extra-small-info {
  color: $black;
  font-family: $lato;
  font-size: 16px;
  height: 66px;
  line-height: 1.38;
  margin-top: 14px;
  opacity: 0.9;
  text-align: left;
  width: 457px;
}

@media only screen and (max-width: 768px) {
  .right-content-one {
    margin-left: 50%;
    width: 320px;
  }
  .right-info-one {
    height: 18px;
  }
  .orange-text {
  }
  .orange-underline {
    margin-top: 16px;
  }
  .right-info-two {
    margin-top: 14px;
  }
  .right-info-three {
    margin-top: 0;
  }
  .right-content-two {
    margin-left: 50%;
    width: 292px;
  }
  .italic-info {
    font-size: 18px;
    height: 140px;
    width: 314px;
  }
  .black-line {
    width: 320px;
  }
  .extra-small-info {
    font-size: 12px;
    height: 36px;
    margin-top: 10px;
    width: 100%;
  }
}

@media only screen and (max-width: $mobile) {
  .right-content-one {
    margin-left: 0;
    margin-top: 00px;
    width: $content-width-mobile;
  }
  .right-info-one {
    font-size: 14px;
    font-weight: 300;
    line-height: 2.64;
    height: 35.2px;
    letter-spacing: -0.2px;
  }
  .orange-text {
    width: 296px;
    height: 37px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.85;
    letter-spacing: -0.2px;
    margin-top: 0;
  }
  .orange-underline {
    margin-top: 0;
    width: $content-width-mobile;
  }
  .right-info-two {
    height: 160px;
    margin-top: 12px;
    width: $content-width-mobile;
  }
  .right-info-three {
    height: 120px;
    margin-top: 27px;
    width: $content-width-mobile;
  }
  .right-content-two {
    margin-top: 62px;
    margin-left: 0;
  }
}