.right-column {
  width: 457px;
}

.right-content-one {
  margin-top: 1359.4px;
  margin-left: 160px;
  //oversized due to font
  width: 400px;
}

.right-content-two {
  margin-left: 80px;
  margin-top: 776px;
}

.right-info-one {
  height: 37px;
}

.right-info-two {
  height: 212px;
  margin-top: 27.6px;
  width: 384px;
}

.right-info-three {
  height: 160px;
  margin-top: 35.5px;
  width: 348px;
}

.orange-text {
  color: $dark-orange;
  font-family: $lato;
  font-size: 24px;
  font-weight: bold;
  height: 37px;
  line-height: 1.54;
  letter-spacing: -0.2px;
  margin-top: 15px;
  text-align: left;
  width: 477.4px;
}

.orange-underline {
  border-image-source: linear-gradient(to right, $primary-orange, $dark-orange);
  border-image-slice: 1;
  border-style: solid;
  border-width: 1px;
  // margin-top: -20px;
  width: 358px;
}

.italic-info {
  color: $black;
  // museo slab 300 is an italic font
  // font-family: MuseoSlab-300;
  font-size: 24px;
  font-style: italic;
  height: 180px;
  line-height: 1.5;
  opacity: 0.9;
  text-align: left;
  width: 424.9px;
}

.black-line {
  margin: 23px 0 41px;
  width: 457px;
  height: 0;
  opacity: 0.45;
  border: solid 1px #000000;
}

.extra-small-info {
  color: $black;
  font-family: $lato;
  font-size: 16px;
  height: 66px;
  line-height: 1.38;
  margin-top: 14px;
  opacity: 0.9;
  text-align: left;
  width: 457px;
}

@media only screen and (max-width: 414px) {
  .right-column {
    order: 2;
    position: absolute;
    left: 0;
    width: $content-width-mobile;
  }
  .right-content-one {
    margin-left: 0;
    margin-top: 1759.4px;
  }
  .right-info-one {
    font-size: 14px;
    font-weight: 300;
    line-height: 2.64;
    height: 35.2px;
    letter-spacing: -0.2px;
  }
  .orange-text {
    width: 296px;
    height: 37px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.85;
    letter-spacing: -0.2px;
    margin-top: 0;
  }
  .orange-underline {
    width: $content-width-mobile;
  }
  .right-info-two {
    height: 160px;
    margin-top: 12px;
    width: $content-width-mobile;
  }
  .right-info-three {
    height: 120px;
    margin-top: 27px;
    width: $content-width-mobile;
  }
  .right-content-two {
    margin-top: 660px;
    margin-left: 0;
  }
}
