// App Variables
// Colors
$black: #000000;
$dark-gray: #4a4a4a;
$darker-gray: #231f20;
$dark-orange: #f09221;
$medium-gray: #757575;
$off-white: #fefefe;
$primary-orange: #fdb913;
$teal: #009296;
$white: #ffffff;

// Fonts
$lato: 'Lato', sans-serif;
// museo slab available by using tk-museo-slab class
$museo-slab: museo slab, sans-serif;

// Heights and Widths
$background-height-desktop: 4150px;
$background-height-mobile: 3037px;
$background-width-desktop: 100%;
$background-width-mobile: 100%;
$content-left-margin: 16.73%;
$content-right-margin: 16.73%;
$content-width-mobile: 280px;
// $content-width-mobile: 67.6%;
