// App Variables
// Colors
$black: #000000;
$dark-gray: #4a4a4a;
$darker-gray: #231f20;
$dark-orange: #f09221;
$medium-gray: #757575;
$off-white: #fefefe;
$primary-orange: #fdb913;
$teal: #009296;
$white: #ffffff;

// Fonts
$lato: 'Lato', sans-serif;
// temp until museo slab is available
$museo-slab: sans-serif;

// Heights and Widths
$background-height-desktop: 4150px;
$background-width-desktop: 1440px;
$content-left-margin: 248px;
$content-right-margin: 251px;
