@import url("https://fonts.googleapis.com/css?family=Lato");
body {
  margin: 0;
  padding: 0; }

.background-container {
  background-color: #fdb913;
  height: 4150px;
  width: 1440px; }

.main-background {
  background-image: linear-gradient(323deg, #fdb913, #fdb913 40.4%, #f09221);
  height: 3767px;
  position: relative;
  z-index: 1; }

.white-background {
  background-color: #ffffff;
  height: 1324px;
  margin-top: 1130px;
  position: absolute;
  width: 1440px;
  z-index: 8;
  -webkit-transform: skewY(30deg);
  -moz-transform: skewY(30deg);
  -ms-transform: skewY(30deg);
  -o-transform: skewY(30deg);
  transform: skewY(30deg); }

.background-image-container {
  bottom: 0;
  position: absolute; }

.image-gradient {
  background-image: linear-gradient(to bottom, #fdb913 10%, transparent, transparent, #fdb913);
  height: 956px;
  position: absolute;
  width: 1440px;
  z-index: 3; }

.background-image {
  background: #fdb913;
  object-fit: contain;
  position: relative;
  width: 1440px;
  z-index: 2; }

.content-container {
  margin: 20px 248px 0 251px;
  position: absolute;
  z-index: 10; }

.esh-logo {
  height: 67.7px;
  object-fit: contain;
  width: 299.4px; }

.header {
  height: 100px;
  font-family: sans-serif;
  font-size: 50px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -0.6px;
  margin-top: 68.3px;
  opacity: 0.9;
  text-align: left; }

.sub-header {
  height: 32px;
  font-family: "Lato", sans-serif;
  font-size: 26px;
  line-height: 1.23;
  margin-top: 20.5px;
  opacity: 0.9;
  text-align: left; }

.column-container {
  display: flex;
  justify-content: space-between; }

@media only screen and (max-width: 420px) {
  .content-container {
    margin: 20px 19px 0 20.2px; }
  .esh-logo {
    height: 67.7px;
    object-fit: contain;
    width: 299.4px; } }

.illustration-container {
  margin-top: -100px;
  position: absolute;
  z-index: 12; }

.illustration-one {
  width: 935px;
  height: 2194px;
  object-fit: contain;
  opacity: 0.8;
  mix-blend-mode: multiply; }

.illustration-two {
  height: 475px;
  left: 204px;
  object-fit: contain;
  position: absolute;
  top: 1539.1px;
  width: 323px;
  z-index: 13; }

.small-info {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -0.1px;
  line-height: 1.6;
  text-align: left; }

.large-info {
  font-family: sans-serif;
  font-size: 34px;
  font-weight: 300;
  line-height: 1.18;
  letter-spacing: -0.5px;
  text-align: left; }

.black {
  color: #000000; }

.teal {
  color: #009296; }

.left-column {
  width: 410px; }

.left-content-one {
  margin-top: 800.3px; }

.left-content-two {
  margin-top: 720.7px; }

.left-info-one {
  height: 392px; }

.left-info-two {
  height: 120px;
  width: 410px; }

.left-info-three {
  height: 200px; }

.left-info-four {
  height: 160px;
  margin-top: 33px; }

.discover-button {
  border: solid 2px #fdb913;
  border-radius: 7px;
  display: flex;
  height: 55.5px;
  justify-content: center;
  margin-top: 42px;
  width: 224.7px; }

.discover-text {
  color: #4a4a4a;
  height: 24px;
  font-family: Lato;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-top: 16px;
  text-align: center;
  width: 175.5px; }

.link-text {
  color: #000000;
  height: 19px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-top: 38px;
  text-align: center; }

.right-column {
  width: 457px; }

.right-content-one {
  margin-top: 1359.4px;
  margin-left: 160px;
  width: 400px; }

.right-content-two {
  margin-left: 80px;
  margin-top: 776px; }

.right-info-one {
  height: 37px; }

.right-info-two {
  height: 212px;
  margin-top: 27.6px; }

.right-info-three {
  height: 160px;
  margin-top: 35.5px; }

.orange-text {
  color: #f09221;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: bold;
  height: 37px;
  line-height: 1.54;
  letter-spacing: -0.2px;
  margin-top: 15px;
  text-align: left;
  width: 477.4px; }

.orange-underline {
  width: 358px;
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(to right, #fdb913, #f09221);
  border-image-slice: 1; }

.italic-info {
  color: #000000;
  font-family: sans-serif;
  font-size: 24px;
  font-style: italic;
  height: 180px;
  line-height: 1.5;
  opacity: 0.9;
  text-align: left;
  width: 424.9px; }

.black-line {
  margin: 23px 0 41px;
  width: 457px;
  height: 0;
  opacity: 0.45;
  border: solid 1px #000000; }

.extra-small-info {
  color: #000000;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  height: 66px;
  line-height: 1.38;
  margin-top: 14px;
  opacity: 0.9;
  text-align: left;
  width: 457px; }

.footer-container {
  background-color: #ffffff;
  height: 383px;
  width: 100%;
  position: absolute;
  z-index: 8; }

.footer-text {
  height: 40px;
  width: 381px;
  margin: 60px auto 37px auto;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.11;
  letter-spacing: -0.5px;
  text-align: center;
  color: #009296; }

.footer-images-container {
  align-items: center;
  display: flex;
  justify-content: space-between; }

.upper-level {
  margin: 0 248px 0 251px; }

.lower-level {
  margin: 0 465px 0 477px; }

.footer-logo {
  object-fit: contain; }

.edu-week {
  height: 29.1px;
  width: 245.5px; }

.usa-today {
  height: 43.1px;
  opacity: 0.5;
  width: 230.2px; }

.nyt {
  height: 34px;
  width: 240px; }

.ed-surge {
  height: 116.6px;
  width: 207.8px; }

.tech-learning {
  height: 46.9px;
  opacity: 0.8;
  width: 142.1px; }
