.background {
  width: $background-width-desktop;
}

.main-background {
  background-color: $primary-orange;
  height: $background-height-desktop;
}

.top-background {
  background-image: linear-gradient(323deg, $primary-orange, $primary-orange 34%, $dark-orange);
  height: 1523px;
}

.middle-background {
  background-color: $white;
  height: 1576px;
  -webkit-transform: skewY(30deg);
  -moz-transform: skewY(30deg);
  -ms-transform: skewY(30deg);
  -o-transform: skewY(30deg);
  transform: skewY(30deg);
}

.bottom-background {
  background-color: $primary-orange;
  height: 1692px;
}
